<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/animate.min.css" />
    <include path="~/Content/font-awesome.min.css" />
    <include path="~/Content/main.css" />
    <include path="~/Content/owl.carousel.css" />
    <include path="~/Content/prettyPhoto.css" />
    <include path="~/Content/responsive.css" />
    <include path="~/Content/Style.css" />

  </styleBundle>
</bundles>